.animate-gradient-text {
  background-size: 200% 200%;
  animation: gradientTextMove 3s ease-in-out infinite;
}

@keyframes gradientTextMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}*{
    font-family: 'Poppins', sans-serif;
}